# Ali Aydinlioglu
Ali Aydinlioglu <ali.aydinlioglu@student.hogent.be> AliAydinlioglu <ali.aydinlioglu@hogent.student.be>

# Andy Wauters
Andy Wauters <andy.wauters@student.hogent.be> Andy Wauters  <126112701+ndwauterss@users.noreply.github.com>

# Badr Amri
Badr Amri <badr.amri@student.hogent.be> badramr1 <badr.amri@student.hogent.be>
Badr Amri <badr.amri@student.hogent.be> Badr Amri <114922357+badramr1@users.noreply.github.com>

# Marek Zakrzewski
Marek Zakrzewski <marek.zakrzewski@student.hogent.be> Marek Zakrzewski <60927350+MarekZakrzewskiHoGent@users.noreply.github.com> 
Marek Zakrzewski <marek.zakrzewski@student.hogent.be> MarekZakrzewskiHoGent <60927350+MarekZakrzewskiHoGent@users.noreply.github.com>


# Wim Dedulle
Wim Dedulle <wim.dedulle@student.hogent.be> WimDedulle <wim.dedulle@student.hogent.be>
Wim Dedulle <wim.dedulle@student.hogent.be> Dedulle <wim.dedulle@mow.vlaanderen.be>

# Iliass Assoued
Iliass Assoued <iliass.assoued@student.hogent.be> Iliassassoued <160054584+Iliassassoued@users.noreply.github.com>

# Pieter Pletinckx
Pieter Pletinckx <pieter.pletinckx@student.hogent.be> Pieter Pletinckx <pieter@pletinckx.be>
Pieter Pletinckx <pieter.pletinckx@student.hogent.be> Pieter Pletinckx <pieplay@gmail.com>
# Benjamin Vertonghen
Benjamin Vertonghen <benjamin.vertonghen@append.be> Benjamin Vertonghen <ben.vertonghen@gmail.com>

# Pieter Swillens (clean up hyphenated username)
Pieter Swillens <pieter.swillens@student.hogent.be> Pieter-Swillens <pieter.swillens@student.hogent.be>