.container {
    display: flex;
    flex-direction: column;
}

.input-label {
    text-align: left !important;
    padding-left: 0.1rem;
    padding-bottom: 0.4rem;
}

::deep .mud-input-helper-text {
    color: var(--mud-palette-primary) !important;
}