.login {
    position: relative;
    height: 90vh;
    width: 100%;
    overflow: hidden;
    display: grid;
    place-items: center;
}

/*stelt een foto vor achtergrond in*/
.login-bg {
    position: fixed;
    inset: 0;
    background-size: cover;
    background-position: center;
    z-index: 0;
    max-height:100vh;
    overflow:hidden;
}

/*Zorgt voor een donkere overlay over de foto*/
.login-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.login-center {
    position: relative;
    z-index: 2;
    width: clamp(200px, 55vw, 460px);
    padding: 0 1rem;
}

.login-box {
    display: grid;
    gap: 1rem;
}

.icon.is-left i, .icon.is-right i {
    color: rgba(255,255,255);
}

.control.has-icons-right input.input.login-input {
    padding-right: 2.25rem !important;
}

.login-button {
    height: 5rem;
    margin-top: 1.5rem;
    border-radius: 10px;
    background: #fff !important;
    color: #000 !important;
    font-weight: 900;
    font-size: clamp(1rem, 4vw + 0.5rem, 1.5rem);
    letter-spacing: .02em;
    border: none;
    transition: transform .06s ease, box-shadow .12s ease;
    font-family: 'Montserrat', sans-serif;
    width: clamp(200px, 55vw, 460px);
}

.login-button:hover {
    background: rgb(0, 0, 0, 0.5) !important;
    cursor: pointer;
    color: #fff !important;       
}

.login-button:active {
    transform: translateY(1px);
}


