.detail-sa .content, .detail-sa .box, .detail-sa .box-content, .detail-sa .label {
    background: var(--mud-palette-secondary) !important;
    color: var(--mud-palette-text-primary) !important;
}

.detail-sa a:hover {
    text-decoration: underline;
}

.section {
    padding-top: 20px !important;
}

