::deep a{
    color: var(--mud-palette-text-secondary) !important;
}

::deep a.active{
    color: var(--mud-palette-tertiary) !important;
}

div{
    text-align: center;
}

p.itemlink-small{
    font-size: 0.5rem;
}

p.itemlink-medium{
    font-size: 0.625rem;
}

p.itemlink-large{
    font-size: 1rem;
}