.pagination-dots {
    display: inline-flex;
    gap: 0.5rem;
}

.dot {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: var(--mud-palette-primary-darken);
    display: inline-block;
    transition: background-color 0.3s ease;
}

.dot.is-active {
    background-color: var(--mud-palette-primary);
}

.carousel-container {
    touch-action: pan-y;
}

.carousel-wrapper {
    position: relative;
}

.carousel-item {
    width: 100%;
}