::deep .mud-alert-message{
    padding: 0;
}

::deep .mud-alert  {
    margin-bottom: 1rem;
}

::deep .mud-alert-position{
    padding: 8px;
} 

::deep .semi-bold{
    font-weight: 600;
}

::deep .mud-icon-size-medium{
    font-size: 2rem;
}