.detail-se .content, .detail-se .box, .detail-se .box-content, .detail-se .label {
    background: var(--mud-palette-secondary) !important;
    color: var(--mud-palette-text-primary) !important;
}

.se-address {
    text-decoration: underline;
}

/* Add margin-bottom to buttons in button-group */
.button-group > button,
.button-group ::deep button {
    margin-bottom: 10px;
}

.section {
    padding-top: 20px !important;
}
